In [3]:
import pandas as pd
import lifetimes

In [ ]:
Sun 10 May 2015 13:54:36 -0700
Sun 10 May 2015 13:54:36 -0000

In [5]:
from datetime import datetime
t2 = datetime.strptime('Sun 10 May 2015 13:54:36 -0700', "%a %d %b %Y %H:%M:%S %z")
t1 = datetime.strptime('Sun 10 May 2015 13:54:36 -0000', "%a %d %b %Y %H:%M:%S %z")
diff = (t2 - t1).seconds
print(diff)

25200

In [13]:
# Sat 02 May 2015 19:54:36 +0530
# Fri 01 May 2015 13:54:36 -0000
        
t2 = datetime.strptime('Sat 02 May 2015 19:54:36 +0530', "%a %d %b %Y %H:%M:%S %z")
t1 = datetime.strptime('Fri 01 May 2015 13:54:36 -0000', "%a %d %b %Y %H:%M:%S %z")
diff = abs(t2 - t1).seconds
print(diff)

1800

In [17]:
#This works for difference in the hours, minutes, and seconds too on top of the additional value mentioned
#to the side of the hours, minutes, and seconds
from dateutil import parser
t2 = parser.parse('Sat 02 May 2015 19:54:36 +0530')  
t1 = parser.parse('Fri 01 May 2015 13:54:36 -0000')  
diff = t2 - t1
print(abs(int(diff.total_seconds())))

88200

In [18]:
t2 = parser.parse('Sun 10 May 2015 13:54:36 -0700')
t1 = parser.parse('Sun 10 May 2015 13:54:36 -0000')
diff = (t2 - t1).seconds
print(diff)

25200

In [19]:
l=['Sun 10 May 2015 13:54:36 -0700', 'Sun 10 May 2015 13:54:36 -0000', 'Sat 02 May 2015 19:54:36 +0530', 'Fri 01 May 2015 13:54:36 -0000']


l[:2]

['Sun 10 May 2015 13:54:36 -0700', 'Sun 10 May 2015 13:54:36 -0000']

In [48]:
def time_delta(T, l):
    from dateutil import parser
    kite=[]
    while l:
        t1, t2= l[:T]
        print(int(abs(parser.parse(t2)-parser.parse(t1)).total_seconds()))
        l=l[T:]

In [49]:
time_delta(2, l=['Sun 10 May 2015 13:54:36 -0700', 'Sun 10 May 2015 13:54:36 -0000', 'Sat 02 May 2015 19:54:36 +0530', 'Fri 01 May 2015 13:54:36 -0000'])

Sun 10 May 2015 13:54:36 -0700
25200
Sat 02 May 2015 19:54:36 +0530
88200

In [ ]:
['Sun 10 May 2015 13:54:36 -0700'
 'Sun 10 May 2015 13:54:36 -0000'
 'Sat 02 May 2015 19:54:36 +0530'
 'Fri 01 May 2015 13:54:36 -0000']

In [62]:
import sys
def time_delta(T, l):
    from dateutil import parser
    kite=[]
    while l:
        t1, t2= l[:T]
        print(int(abs(parser.parse(t2)-parser.parse(t1)).total_seconds()))
        l=l[T:]
if __name__ == "__main__":
    T=int(input())
    l=[]
    for t_itr in range(T):
        t1 = input()

        t2 = input()
        l.extend((t1, t2))

    time_delta(T, l)
        
#         if(delta != None):
#             print(delta)
    
#     l=list(input().split())
#     l = [i for i in sys.stdin.readline()]

2
'Sun 10 May 2015 13:54:36 -0700'
'Sun 10 May 2015 13:54:36 -0000'
'Sat 02 May 2015 19:54:36 +0530'
'Fri 01 May 2015 13:54:36 -0000'
25200
88200

In [ ]:
['Sun 10 May 2015 13:54:36 -0700'
 'Sun 10 May 2015 13:54:36 -0000'
 'Sat 02 May 2015 19:54:36 +0530'
 'Fri 01 May 2015 13:54:36 -0000']

In [64]:
#Hackerrank
# Because dateutil module did not work both in python 2 and python 3, went with datetime below
#!/bin/python3
import math
import os
import random
import re
import sys

# Complete the time_delta function below.
def time_delta(t1, t2):
    from datetime import datetime
    t1 = datetime.strptime(t1,"%a %d %b %Y %H:%M:%S %z")
    t2 = datetime.strptime(t2,"%a %d %b %Y %H:%M:%S %z")
    result= (t1-t2).total_seconds()
    return str(abs(int(result)))

if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    t = int(input())

    for t_itr in range(t):
        t1 = input()

        t2 = input()

        delta = time_delta(t1, t2)

        fptr.write(delta + '\n')

    fptr.close()